.progress-bar {/*transition: width 250ms ease-in-out;*/
    transition: width 1.5s ease-in-out;
}

@-webkit-keyframes tadaInfinito {
    from {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1);
    }

    0%,1% {
        -webkit-transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);
        transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);
    }

    2%,4%,6%,8% {
        -webkit-transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);
        transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);
    }

    3%,5%,7% {
        -webkit-transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);
        transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);
    }

    9% {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1);
    }
}

@keyframes tadaInfinito {
    from {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1);
    }

    0%,1% {
        -webkit-transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);
        transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);
    }

    2%,4%,6%,8% {
        -webkit-transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);
        transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);
    }

    3%,5%,7% {
        -webkit-transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);
        transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);
    }

    9% {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1);
    }
}

.tadaInfinito { /**/
    -webkit-animation: tadaInfinito 10s infinite;
    animation: tadaInfinito 10s infinite;
}
